########################################################################

	Files for git to ignore. I.e. they won't be tracked or committed

########################################################################

.metadata
.recommenders