#################################################
#                                               #
#	Files for git to ignore. I.e. they      #
#	won't be tracked or 	committed       #
#                                               #
#################################################

# Ignore all eclipse setting files
.classpath
.metadata
.project
.recommenders
.settings

# ignore all .class files and the bin folder
*.class
/bin/

# My folder for testing things
/SandraTestingStuff
/GUIs/MyCalculator/nbproject/private/
/GUIs/MyCalculator/build/
/GUIs/SandrasCafe/nbproject/private/
/GUIs/SandrasCafe/build/
/GUIs/WritingToFile/nbproject/private/
/GUIs/WritingToFile/build/
/GUIs/SandraTesting/nbproject/private/
/GUIs/RadioButtonsInAPanel/nbproject/private/
/GUIs/RadioButtonsInAPanel/build/
/GUIs/SandraTesting/build/
/GUIs/AddressBook/nbproject/private/
/GUIs/AddressBook/build/
/GUIs/AddressBookDatabaseKissIt/nbproject/private/
/GUIs/AddressBookDatabaseKissIt/build/
/GUIs/AddressBook/dist/